/*Resetting boxes*/
html, body, h1, h2, h3,
p, ol, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0;
}

/*Resetting fonts*/
html, body, h1,
h2, h3, p, ol,
ul, li, a {
    font-size: 100%;
    font: inherit
}


body {
	text-align: justify;

	transition: color 1s;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;

    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0 10px 0;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;

    transition: color 1s;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;

    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
}

li {
    margin-left: 30px;
}

.stage {
	color: white; 
	font-family: cursive;
    font-size: 26px;
	background-color: #0f9940;
	border-radius: 20px;
	margin: 10px;
	padding: 10px;
	overflow: hidden;
    border-style: solid;
    border-color: #0f9940;
    border-width: 1px;

	transition: color 1s;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;

    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
}

.intro-text{
    color: white;
    font-family: cursive;
    font-size: 16px;
    margin: 5px;
}

.topic{
	background-color: #52cc7c;
	border-radius: 5px;
	font-family: arial;
	font-size: 15px;
    margin: 10px 0 10px 0;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	color: black;
    border-style: solid;
    border-color: #52cc7c;
    border-width: 1px;


	transition: color 1s;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;

    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
}

.point{
	color: black; 

	transition: color 1s;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;

    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
}

.summary{
    background-color: white;
    border-radius: 5px;
    padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;

    transition: color 1s;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;

    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
}

.code{
	display: inline-block;
	font-family: Courier;
    background-color: white;
    padding: 2px 4px;
   	font-weight: bold;
    height: 20px;

    transition: color 1s;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;

    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
}

.left-menu-container{
    width: 150px;
}

.menu{
	list-style-type: none;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 0px;
    padding: 10px;
	background-color: #0f9940;
	border-radius: 20px;
	width: 150px;
	float: left;
    border-style: solid;
    border-color: #0f9940;
    border-width: 1px;

	transition: color 1s;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;

    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
}

.menu-link{
    display: block;
    width: 150px;
    padding-left: 0px;
    margin-left: 0px;

    transition: color 1s;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;

    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
}

.button-container{
    text-align: center;
    padding: 10px;
    margin: 10px 0 0 0;
    background-color: #0f9940;
    border-radius: 20px;
    width: 150px;
    float: left;
    border-style: solid;
    border-color: #0f9940;
    border-width: 1px;


    transition: color 1s
    -webkit-transition: color 1s;
    -moz-transition: color 1s;

    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;

}

.night-day-button{

}

.commentscontainer{
	overflow: hidden;
}

.nightmode-body {
	background-color: black;
}


.nightmode-stage {
	background-color: black;
	border-style: solid;
	border-color: rgb(42, 192, 255);
	border-width: 1px;
	color: rgb(42, 192, 255);

}

.nightmode-topic {
	background-color: black;
	border-style: solid;
	border-color: rgb(42, 192, 255);
	border-width: 1px;
	color: rgb(42, 192, 255);
}

.nightmode-point {
	color: rgb(42, 192, 255);
}

.nightmode-summary{
	background-color: gray;
}

.nightmode-code {
	background-color: gray;
}

.nightmode-menu{
	background-color: black;
	border-style: solid;
	border-color: rgb(42, 192, 255);
	border-width: 1px;
	color: rgb(42, 192, 255);
}

.nightmode-menu-link{
	color: rgb(42, 192, 255);
}

.nightmode-button-container{
    background-color: black;
    border-color: rgb(42, 192, 255);
    border-width: 1px;
    color: rgb(42, 192, 255);

}

.nightmode-normal-link {
	color: rgb(42, 192, 255);
}


