# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.log
*.coverage
*.coverage.*
*.DS_Store

# Virtual environment
env/
venv/
.venv/
ENV/

# IDE and Editor settings
.idea/
.vscode/

# Environment variables
.env

# Test results
test-results/
*.pytest_cache/

# Static files
/static/images/
