{% extends "jeremiesnotesbase.html" %}

{% block content %}


        <div class = "stage">
            <h1>IPND - Jeremie's Notes</h1>

            <div class="intro-text">
                <p>For years, I tried to learn programming without really getting anywhere. I tried to learn C++, then Java, then VBA, then Objective-C...</p>

                <p>What I didn't realise was that I was trying to learn a programming language rather than learning how to program.</p>

                <p>I joined the Introduction to Programming Nanodegree mid 2015 and in a few months I have made more progress than I previously had in years. It looks like Udacity may have a winning formula on their hands.</p>

                <p style="text-align:center;">----------------------------------------------</p>

                <p>UPDATE I: I did graduate from the nanodegree in 2016. I had so much fun doing this that I went on to complete the Fullstack Web Development Nanodegree that same year.</p>

                <p>UPDATE II: I also did the Front End Nanodegree</p>

            </div>

        </div> <!--Closing tag stage-->

{% endblock %}