<!DOCTYPE html>

<html>
    <head>
        <title>Jeremie's HTML and CSS notes</title>
        <link rel="stylesheet" href="/static/stylesheets/notesstyle.css">
        <meta charset="UTF-8">
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-N4MT7TV');</script>
        <!-- End Google Tag Manager -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/static/scripts/script.js"></script>
    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4MT7TV"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <div class="left-menu-container">
            

            <ul class = "menu">
                <li class = "menu-link"><a href = "/">Home</a></li>
                <li class = "menu-link"><a href = "/zero">Stage 0</a></li>
                <li class = "menu-link"><a href = "/one">Stage 1</a></li>
                <li class = "menu-link"><a href = "/two">Stage 2</a></li>
                <li class = "menu-link"><a href = "/three">Stage 3</a></li>
                <li class = "menu-link"><a href = "/four">Stage 4</a></li>
                <li class = "menu-link"><a href = "/five">Stage 5</a></li>
                <li class = "menu-link"><a href = "/comments">Tell us what you think</a></li>
            </ul>

            <div class="button-container">
                <button class="night-day-button" onclick="nightmode()">Night Mode</button>
            </div>
        </div>

        {% block content %}
        {% endblock %}


    </body>
</html>
