<!DOCTYPE html>

<html>
    <head>
        <title>Jeremie's HTML and CSS notes</title>
        <link rel="stylesheet" href="/static/stylesheets/notesstyle.css">
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </head>

    <body>

        <ul class = "menu">
            <li><a class = "menu-link" href = "/">Home</a></li>
            <li><a class = "menu-link" href = "/zero">Stage 0</a></li>
            <li><a class = "menu-link" href = "/one">Stage 1</a></li>
            <li><a class = "menu-link" href = "/two">Stage 2</a></li>
            <li><a class = "menu-link" href = "/three">Stage 3</a></li>
            <li><a class = "menu-link" href = "/four">Stage 4</a></li>
            <li><a class = "menu-link" href = "/five">Stage 5</a></li>
            <li><a class = "menu-link" href = "/comments">Tell us what you think</a></li>
        </ul>

        {% block content %}
        {% endblock %}

     <script>$("button").on("click", function() {$("body").toggleClass("nightmode-body");});</script>
     <script>$("button").on("click", function() {$(".stage").toggleClass("nightmode-stage");});</script>
     <script>$("button").on("click", function() {$(".topic").toggleClass("nightmode-topic");});</script>
     <script>$("button").on("click", function() {$(".menu").toggleClass("nightmode-menu");});</script>
     <script>$("button").on("click", function() {$(".point").toggleClass("nightmode-point");});</script>
     <script>$("button").on("click", function() {$(".code").toggleClass("nightmode-code");});</script>
     <script>$("button").on("click", function() {$(".menu-link").toggleClass("nightmode-menu-link");});</script>
     <script>$("button").on("click", function() {$("a").toggleClass("nightmode-normal-link");});</script>

    </body>
</html>
