{% extends "jeremiesnotesbase.html" %}

{% block content %}


        <div class = "stage">
            <h1>Stage 0: the main ideas</h1>
            <div class = "topic">
                <h2>How the Web works (roughly)</h2>
                    <p>
                        There are about 30 <b>billion</b> pages on the web.These pages are stored on servers and read by a <span>computer's browser </span> that accesses them through the <a href ="https://en.wikipedia.org/wiki/Internet">Internet</a> (the largest computer network on Earth).
                        <br>
                        <img src = "/static/images/earth-clip-art-earth-clip-art-4-291x300.png" alt = "Picture of the Earth">
                    </p>
            </div> <!--Closing tag topic-->

            <div class= "topic">
                <h2>What HTML is (kinda)</h2>
                <p>
                    HTML stands for <b>H</b>yper <b>T</b>ext <b>M</b>arkup <b>L</b>anguage.
                    <br>It is a languge that uses tags to explain to internet browsers
                    <br>what a webpage <em>contains</em> and to some extent how it is to be <em>displayed</em>.
                </p>
            </div> <!--Closing tag topic-->
        </div> <!--Closing tag stage-->


{% endblock %}
