{% extends "jeremiesnotesbase.html" %}

{% block content %}



        <div class = "stage">
            <h1>Stage 5: Exploration of the Back End Options</h1>
            <div class = "topic">
                <h2>Go explore - What I have learned</h2>
                <p>Going through all this material really made me realise that what I really would like is to be able to build complex web applications with databases and APIs that can serve all sorts of clients. For this reason, I have chosen to focus on option three: Full Stack and Back End option.</p>
                <p>At the same time, I also realise that user experience is important and that to know how to make a website that is pleasant to look at should also appear on the todo list of a full stack developper.</p>
                <p>This this in mind, I decided explain here what I learned about APIs and also use CSS and JavaScript to implement a nightmode for this page.</p>
            </div>


            <div class = "topic">
            <h2>The power of APIs</h2>
                <!-- <div class = "point"> -->
                <h3>Summary of Udacity lesson</h3>
                <p>APIs enable computers to communicate with each other and exchange data. This is particularly useful if you want to use the services of other platforms to enhance your application or simplify its build. Usually, APIs use XML or JSON to communicate</p>
                <p>XML was invented in the 1990's to facilitate computer to computer communication. It is related to html as they have a common ancestor, <a href="https://en.wikipedia.org/wiki/Standard_Generalized_Markup_Language">SGML</a>, invented in the 1980's. Html can actually be expressed as XML, using the type xhtml oin the DOCTYPE.</p>

                <p>Some characteristics of xml are:</p>
                <ul>
                    <li>there is no void tag, every opening tag needs a closing one</li>
                    <li>You can have an empty tag in this form: &lt;tag/&gt;</li>
                </ul>

                <p>Python has a built in parser in a library called minidom. It can imported like this: <span class="code">from xml.dom import minidom</span>. This is a lightweight and fast version of the more comprehensive dom (document object model) that can be used to parse gigabits of data.</p>

                To parse xml (create an object from code) and store the result in a variable, you can use the following:
                <br>
                <span class = "code">p =  minidom.parseString("&lt;mytag&gt;contents!&lt;children&gt;&lt;item&gt;1&lt;/item&gt;&lt;item&gt;2&lt;/item&gt;&lt;/children&gt;&lt;/mytag&gt;")</span>

                To visualise the structure of the resulting object, including available methods, you can use <span class="code">dir(p)</span>, or if you want it in a vertical fashion, <span class="code">import pprint</span> ("pretty print") and write <span class = "code">pprint.pprint(dir(p))</span>.

                To visualise the content in a XML format: <br>
                <span class = "code">print p.toprettyxml()</span>

                To get the "1" above we would have to use the following:<br>
                <span class = "code">p.getElementByTagName("item")[0].childNodes[0].nodeValue</span>

                <br>

                Another tool for computers to communicate is JSON, which stands for JavaScript Object Notation. It consists of nested dictionaries, lists and lists of dictionaries:

                <span class = "code">{ "itenaries":[ {"from": "SEO",</span><br>
                <span class = "code">                "to" : "IAD"},</span><br>
                <span class = "code">                 {"from" : "IAD",</span><br>
                <span class = "code">                 "to" : "SEO"} ]</span><br>
                <span class = "code">}</span><br>

                To use json in python you must first import it.
                To visualise a JSON object stored in a j variable, enter: <br>
                <span class = "code">json.loads(j)</span>. Include 'print' if not run from bash.
                To have a quick look at the keys progressively available at each level:
                <span class = "code">j.keys()</span>
                <span class = "code">j['data'].keys()</span>
                <span class = "code">j['data']['children'].keys()</span>
                Be aware that hackers could use JSON to sneak code in your system...

                <br>
                Some websites make their contents available in other formats than html: <br>
                www.reddit.com/.json or www.reddit.com/.xml

                There are other protocols used by servers to communicate:
                <ul>
                    <li>SOAP (Microsoft): very complicated</li>
                    <li>Protocol buffers (Google): similar to JSON</li>
                    <li>Thrift (Facebook)</li>
                    <li>Plain text, custom formats</li>
                </ul>

                <p>Overall, make sure to rate-limit yourself to avoid hitting servers too hard and that you write good user-agents so that people building the APIs that use can contact you if something goes wrong.</p>

                <h3>Additional resources</h3>
                <p><b><a href="https://www.youtube.com/watch?v=B9vPoCOP7oY&index=42&list=WL" target="_blank">YouTube Video</a></b>: This video makes a good job of explaining that one of the main advantages of APIs is that they enable your application to use the services of larger websites and/or applications. While a normal user would have to log into Facebook or Google using their website, an API enables your application to bypass this and talk directly to their backend.</p>
                <p><b><u><a href="https://www.udemy.com/the-what-and-why-of-apis" target="_blank">The basics of APIs</a></b></u>: This is another course from General Assembly that is available from Udemy. It goes through two APIs. The first one is <a href="http://www.stripe.com/au" target="_blank">Stripe</a> which is a solution enabling websites to take credit card payments without having to handle the security aspects of it. It handles both individul payments and subscription. Whilst the demonstration was in PHP, the main ideas remained the same: set up a Stripe account, get some API keys, code in the payment form and handle errors. Then test and go live!
                <br>The second API was <a href="https://www.twilio.com">Twilio</a>, which brings telephony to the cloud and its computing power: "the ability to plug your phone to your website". AirBnB and Uber use it to enable providers and customers to communicate without exchanging contact details. The demo was about recreating a telephone queue. This was done using python in the terminal using Flask and Heroku
                <p><u><b>Various API libraries</b></u>: there many of them on the web: <a href = "https://www.publicapis.com" target="_blank">publicapis.com</a>, <a href="http://www.programmableweb.com" target="_blank">programmableweb.com</a>, <a href="https://www.mashape.com" target="_blank">mashape.com</a></p>

            </div>

            <div class = "topic">
                <h2>API implentation</h2>
                <h3 id = "summary">The Wikipedia API</h3>
                <p>As far as implementation is concerned, the small form below uses the Wikipedia API to serve the top summary of its article about whichever keyword is entered by the user. It also generates a link to the article if further reading is required.</p>

                <form id="searchForm" onsubmit="searchWikipedia(event)">
                    <input type="text" id="searchInput" placeholder="Enter search term">
                    <button type="submit">Search</button>
                </form>
                <div id="searchResult" class="api-response"></div>
            </div>

            <div class = "topic">
                <h2>Making pages look good</h2>
                <p>Combining CSS and JavaScript can be very useful to design web pages that will render well on any browser and on screens of any size.</p>
                <p>I had a lot of pleasure experimenting with the Dash tool created by General Assembly and it really made me realise how flexible web-design can be. Here is the list of links to my practice exercises:</P>
                <ul>
                    <li><a href= "https://dash.generalassemb.ly/Jeremie/build-your-own-personal-website" target='_blank'>personal website</a></li>
                    <li><a href = "https://dash.generalassemb.ly/Jeremie/build-your-own-blog-theme" target='_blank'>personal blog theme</a></li>
                    <li><a href="https://dash.generalassemb.ly/Jeremie/build-your-own-business-website" target='_blank'>personal website</a></li>
                </ul>


                <P>It inspired me to use JQuery to create a "Night mode" button accessible on the left hand side.</p>

            </div>



        </div>







{% endblock %}
